name: Unit Tests

on:
  push:
    branches:
      - develop
  pull_request:
    branches: [develop]

jobs:
  Jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Run Tests
        env:
          DB_DEPLOY: ${{ secrets.DB_DEPLOY }}
        run: |
          npm install 
          npm test